html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.App{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Fredoka One', cursive;
  box-sizing: border-box;
  caret-color: transparent;
}
.lav-nav-name{
	color: white !important;
}
.lav-nav-name:hover{
	-webkit-text-fill-color: rgb(60, 145, 224);
	-webkit-text-stroke: .5px rgb(0, 0, 0);
	transition: 1s;
}

.carousel-subtitle{
	-webkit-text-fill-color: rgb(0, 0, 0);
	-webkit-text-stroke: .5px rgb(60, 145, 224);
	text-align: center;
	margin-top: 40px;
	font-size: 38px;
}



.container-content-page{
  padding-top: 60px;
  width: 100%;
  min-height:  100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navBar-data{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sup-nav{
	margin-top: 25px;
	font-size: 30px;
}

.sup-nav-child{
  height: 130px;
  background: url(./img/bannerbubbles.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.sup-nav-child a{
	-webkit-text-fill-color: rgb(255, 0, 0);
	-webkit-text-stroke: 2px rgb(255, 217, 0);
	margin-left: 20px;
	width: 100%;
	
}



.sup-nav-child a:hover{
	-webkit-text-fill-color: rgb(60, 145, 224);
	-webkit-text-stroke: .5px rgb(0, 0, 0);
	transition: 1s;
}


.slider {
  height: 1000px;
  width: 100%;
  background: url(./img/portadaM.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}


.container-slider-title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	letter-spacing: 5px;

}

.slider-title{

	-webkit-text-fill-color: rgb(255, 0, 0);
	-webkit-text-stroke: 3px rgb(255, 217, 0);
  	font-size: 9rem;
}

.slider-title-1{
	-webkit-text-fill-color: rgb(60, 145, 224);
	-webkit-text-stroke: 1.5px rgb(0, 0, 0);
  	font-size: 8rem;
	  margin-bottom: 15px;
}

.slider-text{
	-webkit-text-fill-color: rgb(60, 145, 224);
	-webkit-text-stroke: 1px rgb(0, 0, 0);
  	font-size: 5rem;
	padding-top: 70px;
	text-align: center;
}

.ant-card-meta-title{
	font-size: 20px !important;
}
.nav-delivery-container{
	width: 100%;
	height: 260px;
	margin-top: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 30px;
	background: url(./img/bannerbubbles.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	
}

.nav-delivery-container p{
	-webkit-text-fill-color: rgb(60, 145, 224);
	-webkit-text-stroke: 1px rgb(0, 0, 0);
  	font-size: 4rem;
}
.nav-delivery-container img{
	height: 120px;
	width: 120px;
}


.firstNav-content{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	text-align: center;
}

.firstNav-content p{
	padding-top: 10px;
	font-size: 30px;
}

.firstNav-content img {
	width: 50px;
	height: 50px;
}

.navbar-collapse {
	flex-grow: 0;
}

.about-container{
	height: 750px;
	width: 100%;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 150px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.about-container-title{
	height: 150px;
	width: 100%;
	background: url(./img/bannerbubbles.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	font-size: 4rem;
	-webkit-text-fill-color: rgb(60, 145, 224);
	-webkit-text-stroke: 1px rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-container p{
	margin-top: 30px;
	padding: 100px;
	-webkit-text-fill-color: rgb(17, 78, 135);
	-webkit-text-stroke: 1px rgb(0, 0, 0);
	font-size: 3.5rem;

}

.container-imgs{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.container-imgs img{
	height: 600px;
	width: 500px;
	margin: 20px;
	border-radius: 10%;
}



.img-delivery-container{
	width: 96%;
	max-width: 960px;
	margin: 0 auto;
}

.img-delivery-container img{
	margin-top: 80px;
	width: 100%;
	height: auto;
	border-radius: 5%;
	
}

.ourService-container{
	margin-top: 120px;
	margin-bottom: 150px;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	
}
.banner-service-container{
	width: 100%;
	height: 100px;
	margin-top: 35px;
	display: flex;
	font-size: 4rem;
	-webkit-text-fill-color: rgb(60, 145, 224);
	-webkit-text-stroke: 1px rgb(0, 0, 0);
	flex-direction: row;
	justify-content: center;
	text-align: center;
	align-items: center;
	background: url(./img/bannerbubbles.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.table-price-container{
	margin-top: 50px;
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 25px;
}

th{
	font-size: 30px;
	-webkit-text-fill-color: #0014FF;
	-webkit-text-stroke: 1px rgb(0, 0, 0);
}

td{
	font-size: 25px;
}

table{
	text-align: center;
	
}

#g-table tbody tr > td{
	border: 5px solid rgb(202, 234, 242);
	height: 30px;
	padding-left: 3px;
}
#g-table{
	padding-left: 40px;
	margin-top: 20px;

}
.espacio{
	height:40px;
}

.footer-container{
	width: 100%;
	height: 50vh;
	margin-top: 120px;
	background-color: #000;
}



/*------------------------------------------------------------------------------------------*/

.footer {
	position: relative;
	width: 100%;
	background: #3586ff;
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }

  .footer a{
	font-size: 25px;
  }
  
  .social-icon,
  .menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
	list-style: none;
  }
  
  .social-icon__link {
	font-size: 2rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
  }
  .social-icon__link:hover {
	transform: translateY(-10px);
  }
  
  .menu__link {
	font-size: 1.2rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
	text-decoration: none;
	opacity: 0.75;
	font-weight: 300;
  }
  
  .menu__link:hover {
	opacity: 1;
  }
  
  .footer p {
	color: #fff;
	margin: 15px 0 10px 0;
	font-size: 1rem;
	font-weight: 300;
  }
  
  .wave {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: url("https://i.ibb.co/wQZVxxk/wave.png");
	background-size: 1000px 100px;
  }
  
  .wave#wave1 {
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
	z-index: 1000;
	opacity: 0.2;
	bottom: 15px;
	animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
	z-index: 999;
	opacity: 0.7;
	bottom: 20px;
	animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
	0% {
	  background-position-x: 1000px;
	}
	100% {
	  background-positon-x: 0px;
	}
  }
  
  @keyframes animate {
	0% {
	  background-position-x: -1000px;
	}
	100% {
	  background-positon-x: 0px;
	}
  }

  .footerUbication-container{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
  }

  .dataCommerce-footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 15px;
  }
  .dataCommerce-footer p{
font-size: 25px;
margin-left: 20px;
  }

  .footerUbication-container p{
	font-size: 30px;
  }

  .footerUbication-container img{
	width: 350px;
	height: 200px;
  }

  .ubication-container{
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
  }

  .horary-container{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	font-size: 20px;
  }

  .timeLists{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 100px;
	padding: 15px;
	width: 70%;
	height: 100%;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;  }

  .timeLists li{
	margin-bottom: 5px;
  }
  @media only screen and (max-width: 1095px){
	.footerUbication-container{
		flex-direction: column;
		gap: 50px;
	  }
	  .about-container-title{
		height: 200px;
	}
	  .timeLists{
		gap: 15px;
		width: auto;
	  }
	  .timeLists li{
		margin: 5px;
		width: 130px;
		padding: 5px;
	  }
  }

  @media only screen and (max-width: 992px) {
	.about-container p{
		margin-top: 30px;
		padding: 100px;
		-webkit-text-fill-color: rgb(17, 78, 135);
		-webkit-text-stroke: 1px rgb(0, 0, 0);
		font-size: 2.5rem;
	
	}

	.about-container-title{
		height: 200px;
	}
	
  }

  
@media only screen and (max-width: 857px) {
	.about-container p{
		margin-top: -30px;
		font-size: 1.7rem;
	}

	.slider-title{
		  font-size: 5rem;	
	}
	.slider-title-1{
		  font-size: 4rem;
	}
	
	.slider-text{
		  font-size: 2.5rem;
	}


	.sup-nav{
		margin-top: 35px;
		font-size: 25px;
	}
	
	.sup-nav-child{
	  height: 130px;
	}
	
	.about-container-title{
		height: 200px;
	}
	}
  
	@media only screen and (max-width: 770px) {
		.sup-nav{
			margin-top: 25px;
			font-size: 25px;
		}
		.me-auto{
			background: url(./img/bannerbubbles.jpg) no-repeat;
			background-size: cover;
			background-position: center;
			border-radius: 3%;
			margin-top: -70px;
			display: flex;
			width: 45%;
			flex-direction: column;
		}
		.me-auto a{
			display: flex;
			flex-direction: row;
		}
		.me-auto a:hover{
			background-color: #acc0df;
			border-radius: 2%;
			width: 100%;
			
			
		}
		.menu{
			gap: 15px;
		}

		.about-container-title{
			height: 200px;
		}
	}



  @media only screen and (max-width: 576px){
	.about-container p{
		margin-top: -30px;
		font-size: 1.9rem;
	}
	.slider{
		text-align: center;
		margin-top: 75px;
	}
	.slider-title{
		  font-size: 5rem;	
	}
	.slider-title-1{
		  font-size: 4.8rem;
	}
	
	.slider-text{
		  font-size: 3.5rem;
	}

	.container-imgs img{
		height: 300px;
		width: 300px;
	}

	.container-imgs img:first-child{
		height: 230px;
		width: 300px;
	}

	.about-container-title{
		font-size: 4rem;
	}
	.nav-delivery-container{
	margin-top: 50px;
	}
	.nav-delivery-container p{
		-webkit-text-fill-color: rgb(60, 145, 224);
		-webkit-text-stroke: 1px rgb(0, 0, 0);
		  font-size: 2.8rem;
	}
	.img-delivery-container{
		width: 300px;
		height: 300px;
	}

	.banner-service-container{
		font-size: 3rem;
		height: 170px;
	}
	.about-container-title{
		height: 200px;
	}

	.sup-nav{
		margin-top: 25px;
		font-size: 25px;
	}

}

  @media only screen and (max-width: 460px){
	.slider-title{
		font-size: 4.5rem;	
  }
  .slider-title-1{
		font-size: 3.5rem;
  }
  
  .slider-text{
		font-size: 3.5rem;
  }
  .about-container p{
	font-size: 1.5rem;
}
.about-container-title{
	height: 200px;
}
.sup-nav{
	margin-top: 85px;
	font-size: 25px;
}
.horary-container{
	width: 100%;
}
.ubication-container{
	width: 100%;
}

.dataCommerce-footer p{
	font-size: 20px;
	margin: 0;
	

	  }
	  .dataCommerce-footer{
		margin-top: 45px;
	  }

	  .timeLists{
		font-size: 13px;
	  }

	  .img-delivery-container img{
		
		height: 230px;
	}
  }


  /*-------------------CARD SERVICES-------------------------*/

  .body-card-services {
    height: 800px;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;   
    font-family: sans-serif;
	margin-top: 150px;
}

.container {
    width: 100%;
    position: relative;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: center;
	align-items: center;
	text-align: center;
	gap: 75px;
}
.card{
	border-color: transparent !important;
}
.container .card {
    position: relative;
    border-radius: 10px;
	
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6eadd4;
    transition: 0.7s;
    z-index: 1;
}

.container .card:nth-child(1) .icon {
    background: #6eadd4;
}

.container .card:nth-child(2) .icon {
    background: #6eadd4;
}

.container .card:nth-child(3) .icon {
    background: #6eadd4;
}


.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.icon-i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content .icon-i{
    max-width: 100px;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content .p-services {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
	font-family: 'Fredoka One', cursive;
	-webkit-text-fill-color: rgb(60, 145, 224);
	-webkit-text-stroke: .3px rgb(0, 0, 0);
	font-size: 20px;
}

.container .card .face.face2 .content .h3-services {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
	font-family: 'Fredoka One', cursive;
	-webkit-text-fill-color: rgb(255, 0, 0);
	-webkit-text-stroke: 1px rgb(255, 217, 0);
	font-size: 40px;
} 

.container a {
    text-decoration: none;
    color: #414141;
}

.btn-mrn{
	margin-top: 70px !important;
}

@media only screen and (max-width: 1200px){
	.body-card-services{
		margin-top: 150px;
	}
}



@media only screen and (max-width: 770px){
	.body-card-services{
		margin-top: 650px;
		margin-bottom: 650px;
	}
	.p-services{
		font-size: 20px !important;
	}

}

.whatsapp {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	z-index:100;
  }

  
.whatsapp-2 {
	position:fixed;
	width:60px;
	height:60px;
	bottom:110px;
	right:40px;
	background-color:#000000;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	z-index:100;
  }
  
  .whatsapp-icon {
	margin-top:13px;
  }

  @media only screen and (max-width: 770px){
	.whatsapp {
		right:5px;
	}
	.whatsapp-2{
		right:5px;
	}
  }